@model IEnumerable<SoloProjectMvc.ProductReference.Product>

@{
    ViewBag.Title = "Search";
}

<h2>Search</h2>

<p>
    @using (Html.BeginForm("Index", "Product", FormMethod.Get))
    {
    <p>
        @Html.TextBox("SearchString")
        <input type="submit" value="Search" class="btn btn-default" />
    </p>
    }
    </p>
<p>No results found.</p>
